/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* General Styles */
body {
	line-height: 1.5;
	max-width: 875px;
	margin: 0 auto;
    font-size: 62.5%;
    padding: 1rem;
}   

@media (max-width: 800px) {
    body {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
    }
}

h2{
	font-size: 1rem;
}

p {
	font-size: 1rem; 
}

footer {
	text-align: center;
	font-size: .8rem;
}

/* HEADER STYLES */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 10px;
}

    @media (max-width:800px) {
        nav {
            max-width: 800px;
            flex-direction: column-reverse;
            justify-content: center;
        }
    
    }

.navi {
    display: flex;
}


nav a {
	text-decoration: none;
	color:#8a8686;
	text-align: center;
    font-size: 1rem;
    margin-right: 3.5rem;
}

    @media(max-width: 800px) {
        nav a {
            display: flex;
            margin-right: 5.5rem;
        }
    }

.logo {
    width: 12rem;
    height: 2.5rem;
}

    @media(max-width: 800px) {
        .logo {
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
/* Index.html */
	/*TopSection*/
header {
	display: flex;
	text-align: center;
	align-content: center;
	justify-content: space-around;
	margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 5rem;
    border-bottom: 1.5px solid black;
}


    @media(max-width: 800px){
        header {
            max-width: 800px;
            justify-content: center;
        }
    }

.mainImg {
	width: 23rem;
	height: 23rem;
	margin-right: 3rem;
}

    @media (max-width: 800px) {
        .mainImg {
            display: none;
        }
    }

h1 {
	font-size: 4rem;
	line-height: 3.8rem;
	margin: 5rem 5rem 1rem 5rem;
}

    @media(max-width: 800px) {
        h1 {
           margin: 0;
           line-height: 4.2rem;
           margin-top: 1rem;
        }
    }

.btn-home {
	background-color: white;
	border: 1px solid black; 
	width: 8.5rem;
	height: 1.8rem;

}

    @media(max-width: 800px) {
        .btn-home {
            margin-top: 1.5rem;
        }
    }

	/*MiddleSection*/
.topContent {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.features {
    justify-content: space-between;
    margin-right: 1rem;

}

.middleImg {
    width: 52.7rem;
}

    @media(max-width: 800px) {
        .middleImg {
            width: 48rem;
        }
    }

.about {
    justify-content: space-between;
}

.bottomContent {
	display: flex;
	margin-top: 2rem;
}

/* Services */ 
.services-header-img{
	width: 53rem;
	height: 10rem;
}

.topContent-services {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	padding-bottom: 1rem;
}

.first {
	display: flex;
	margin-top: 1rem;
}

.one {
	margin-bottom: 25px;
	
}



.two {
	margin-bottom: 25px;
}

.second {
	display: flex;
	margin-bottom: 25px;
}

.third {
	display: flex;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}

.bottomContent-services {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.btn-services {
	background-color: white;
	border: 1px solid black; 
	width: 8.5rem;
	height: 1.8rem;
	border-radius: .5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	

ul {
	list-style-type: square;
	list-style-position: inside;
	font-size: 1rem;
	margin: 1rem 2rem;
}


